server {
    listen 80;
    server_name 192.168.0.47;  # Cambia esto por el nombre de dominio si es necesario

    root /usr/share/nginx/html;  # Se actualizará cuando se copien los archivos al contenedor
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Si usas HTTPS, también debes configurar SSL, por ejemplo:
    # listen 443 ssl;
    # ssl_certificate /etc/ssl/certs/tu_certificado.crt;
    # ssl_certificate_key /etc/ssl/private/tu_clave.key;
}
