server {
    listen 80;
    server_name 192.168.0.47; # Cambia si usas un dominio

    root /usr/share/nginx/html;
    index index.html;

    # Manejo de rutas para React Router
    location / {
        try_files $uri /index.html;
    }

    # Manejo de errores 404 y rutas desconocidas
    error_page 404 /index.html;

    # Archivos estáticos con caché (JS, CSS, imágenes)
    location ~* \.(?:ico|css|js|gif|jpe?g|png|woff2?|eot|ttf|otf|svg|map|webp|woff)$ {
        expires 6M;
        access_log off;
        add_header Cache-Control "public";
    }

    # Compresión GZIP para mejorar el rendimiento
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_proxied any;
    gzip_min_length 1000;

    # Seguridad básica
    add_header X-Content-Type-Options nosniff;
}
